:root{
    --background: #000000;
    --background-odd: #101113;
    --background-even: var(--background-odd);
    --card-bg-color: #181b1d;
    /* --surface: #531c06; */
    /* --home-bg-color: rgba(0, 0, 0, 0.5); */
    --primary: var(--light-text);
    --secondary: #b82035;
    --onBackground: #c4c70b;
    --onSurface:var(--secondary);
    --onPrimary:var(--secondary);
    --onSecondary:var(--surface);
    --light-text: #8ea3aa;
    --site-max-width: 1100px;
    --particles-color1: #2ca5eb;
    --particles-color2: #f02054;

    --social-link-color: rgb(5, 81, 133);
    --body-text-color: rgb(46, 58, 73);
    --card-shadow-color: rgb(184, 184, 184);
    --thinCard--btn--color: rgb(196, 238, 255);
}



