:root {
    --background: #e4e4e4;
    --background-odd: #f5f5f5;
    --background-even: var(--background-odd);
    --card-bg-color: #ffffff;
    /* --surface: #531c06; */
    --home-bg-color:s rgba(236, 252, 249s);
    --primary: var(--light-text);
    --secondary: #1c4958;
    --onBackground: #fbff00;
    --onSurface: var(--secondary);
    --onPrimary: var(--secondary);
    --onSecondary: var(--surface);
    --light-text: #b82034;
    --site-width: 75%;
    --site-max-width: 1100px;
    --particles-color1: #2ca5eb;
    --particles-color2: #f02054;

    --social-link-color: rgb(5, 81, 133);
    --body-text-color: rgb(46, 58, 73);
    --card-shadow-color: rgb(184, 184, 184);
    --thinCard--btn--color: rgb(196, 238, 255);
}